<header></header>
<p>Sidebar in the left</p>
<ul>
  <li><a routerLink="/college/reports/activity">Activity Report</a></li>
  <li><a routerLink="/college/reports/school-data">School Data</a></li>
  <li><a routerLink="/college/reports/campaigns">Campaigns</a></li>
  <li><a routerLink="/college/reports/paid-vs-non-paid">Non-Paid v Campaigns</a></li>
  <li><a routerLink="/college/reports/platform-data">Platform Data</a></li>
  <li><a routerLink="/college/inbox">Inbox</a></li>
  <li><a routerLink="/college/profile/overview">Overview</a></li>
  <li><a routerLink="/college/profile/military">Military</a></li>
  <li><a routerLink="/college/profile/yellow-ribbon">Yellow Ribbon Program</a></li>
  <li><a routerLink="/college/profile/stats">Stats</a></li>
  <li><a routerLink="/college/profile/degrees">Degrees</a></li>
  <li><a routerLink="/college/profile/contact">Contact</a></li>
  <li><a routerLink="/college/settings">Settings</a></li>
</ul>
<router-outlet></router-outlet>
<footer></footer>
